<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="LOG_DIR" value="./logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
        </layout>
    </appender>

    <appender name="REST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/rest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/logback/%d{yyyy/MM,aux}/rest.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/logback/%d{yyyy/MM,aux}/access.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
        </encoder>
    </appender>

    <!-- TRACE > DEBUG > INFO > WARN > ERROR -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
        <logger name="net.fifarm.spider.controller.IndexController">
            <level value="INFO" />
            <appender-ref ref="ACCESS" />
        </logger>
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
            <level value="DEBUG" />
            <appender-ref ref="REST" />
        </logger>
    </springProfile>
    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
        <logger name="net.fifarm.spider.controller.IndexController">
            <level value="INFO" />
            <appender-ref ref="ACCESS" />
        </logger>
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
            <level value="DEBUG" />
            <appender-ref ref="REST" />
        </logger>
    </springProfile>
</configuration>