<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="commonFragment">
    <nav class="navbar navbar-warning navbar-fixed-top">
    </nav>

    <div class="jumbotron text-center">
        <h1>FIFArm</h1>
        <p>EA SPORTS FUT DATABASE</p>
        <div class="form-group has-error">
            <input id="playerName" type="text" class="form-control" placeholder="Search for players" required>
        </div>
    </div>

    <!-- ajax loading -->
    <div class="wrap-loading display-none">
        <div><img th:src="@{/images/ajax-loader.gif}" /></div>
    </div>
</div>

</html>