.jumbotron {
    background-color: #ff5722 !important;
    color: #ffffff !important;
    padding: 100px 25px !important;
    font-family: Montserrat, sans-serif !important;
}
.container-fluid {
    padding: 60px 50px;
}
.form-control {
    color: #efebd8;
}
input::placeholder {
    color: #efebd8 !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ff5722;
}
#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #ffffff;
}

/*ajax loading*/
.wrap-loading div {
    position: fixed;
    top:50%;
    left:50%;
    transform: translateX(-50%);
}
.display-none{
    display:none;
}

/*list-group*/
.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}
.list-group-item {
    cursor:pointer;
    /*display: inline-block;*/
    padding: 10px 5% !important;
}

/*autocomple*/
.ui-autocomplete .highlight {
    color: #ff5722;
}
.ui-autocomplete .m-icon {
    max-width: 20px;
}
.ui-autocomplete .m-icon-left {
    float: left;
    margin-right: 2px;
}
.ui-autocomplete .m-icon-right {
    float: left;
    margin-right: 2px;
}
.ui-autocomplete .x-icon {
    float: left;
    width: 20px;
    font-size: small;
    text-align: center;
}
.ui-autocomplete .m-name {
    margin-left: 10px;
}
.ui-autocomplete .m-composure {
    font-weight: bold;
}
.ui-autocomplete div::after {
    content: "";
    display: table;
    clear: both;
}
.ui-menu-item .ui-state-active  {
    background:  #bae1ff;
}