<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">
    <input type="hidden" id="player-name" th:value="${playerName}" />

    <div id="player-list-content"></div>
</div>

<th:block layout:fragment="script">
<script id="player-list-template" type="text/x-handlebars-template">
    <ul class="list-group">
    {{#each .}}
        <li class="list-group-item" onclick="selectPlayer({{id}})">
            <input type="hidden" id="playerId" value="{{id}}">
            <span class="player-rating">
                <span>{{composure}}</span>
            </span>
                <span class="player-image">
                <img src="{{headshot.imgUrl}}" height="50" width="50" />
            </span>
                <span class="player-info">
                <span>{{firstName}}</span>
                <span>{{lastName}}</span>
            </span>
        </li>
    {{/each}}
    </ul>
</script>

<script>
    $(document).ready(function() {
        var playerName = $('#player-name').val();
        getJsonByPlayerName(playerName);
    });

    function getJsonByPlayerName(playerName) {
        $.ajax({
            url : "/json/search/" + playerName,
            type : "get",
            dataType : "json",
            beforeSend: function() {
                $('.wrap-loading').removeClass('display-none');
            },
            complete: function() {
                $('.wrap-loading').addClass('display-none');
            },
            success : function(playerList) {
                var source = $('#player-list-template').html();
                var template = Handlebars.compile(source);
                var html = template(playerList);
                $('#player-list-content').append(html);
            },
            error : function () {
                $('#player-list-content').html("Not found.");
            }
        });
    }

    function selectPlayer(playerId) {
        var url = "/player/" + playerId;
        $(location).attr('href', url);
    }
</script>
</th:block>
</html>