<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">
    <input type="hidden" id="player-id" th:value="${playerId}" />

    <div class="row" id="player-content"></div>
</div>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/webjars/c3/0.6.3/c3.min.css">
    <link rel="stylesheet" th:href="@{/css/player.css}">
</th:block>

<th:block layout:fragment="script">
<script src="/webjars/c3/0.6.3/docs/js/d3-5.4.0.min.js"></script>
<script src="/webjars/c3/0.6.3/c3.min.js"></script>

<script id="player-template" type="text/x-handlebars-template">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <input type="hidden" id="player-quality" value="{{quality}}" />
                <img class="circle player-headshot" src="{{headshot.imgUrl}}" />
                <h4>
                    <span>{{firstName}}</span>
                    <span>{{lastName}}</span>
                </h4>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Club</p>
                        <p><b>{{club.name}}  <img class="player-club-img" src="{{club.imageUrls.light.medium}}" /></b></p>
                    </div>
                    <div class="col-sm-12">
                        <p>League</p>
                        <p><b>{{league.name}}  <img class="player-league-img" src="{{league.imageUrls.light}}" /></b></p>
                    </div>
                    <div class="col-sm-12">
                        <p>Nationality</p>
                        <p><b>{{nation.name}}  <img class="player-nationality-img" src="{{nation.imageUrls.medium}}" /></b></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Strong Foot</p>
                        <p><b>{{foot}}</b></p>
                    </div>
                    <div class="col-sm-12">
                        <p>Skill Moves</p>
                        <input type="hidden" id="player-skillMoves" value="{{skillMoves}}" />
                        <p id="star-skillMoves"></p>
                    </div>
                    <div class="col-sm-12">
                        <p>Week Foot</p>
                        <input type="hidden" id="player-weakFoot" value="{{weakFoot}}" />
                        <p id="star-weakFoot"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Age</p>
                        <p><b>{{age}} - {{birthdate}}</b></p>
                    </div>
                    <div class="col-sm-12">
                        <p>Height / Weight</p>
                        <p><b>{{height}} / {{weight}}</b></p>
                    </div>
                    <div class="col-sm-12">
                        <p>Workrates</p>
                        <p><b>{{atkWorkRate}} / {{defWorkRate}}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">&nbsp;</div>

    <div class="container">
        <div class="row" id="attr">
            <div id="pace" class="col-sm-2 col-attr">
                <h4>PACE</h4>
                <div id="chart0"></div>
                <h5>Acceleration</h5>
                <p class="player-attr">{{acceleration}}</p>
                <h5>Sprint Speed</h5>
                <p class="player-attr">{{sprintspeed}}</p>
            </div>
            <div id="shooting" class="col-sm-2 col-attr">
                <h4>SHOOTING</h4>
                <div id="chart1"></div>
                <h5>Positioning</h5>
                <p class="player-attr">{{positioning}}</p>
                <h5>Finishing</h5>
                <p class="player-attr">{{finishing}}</p>
                <h5>Shot Power</h5>
                <p class="player-attr">{{shotpower}}</p>
                <h5>Long Shots</h5>
                <p class="player-attr">{{longshots}}</p>
                <h5>Volleys</h5>
                <p class="player-attr">{{volleys}}</p>
                <h5>Penalties</h5>
                <p class="player-attr">{{penalties}}</p>
            </div>
            <div id="passing" class="col-sm-2 col-attr">
                <h4>PASSING</h4>
                <div id="chart2"></div>
                <h5>Vision</h5>
                <p class="player-attr">{{vision}}</p>
                <h5>Crossing</h5>
                <p class="player-attr">{{crossing}}</p>
                <h5>Free Kick</h5>
                <p class="player-attr">{{freekickaccuracy}}</p>
                <h5>Short Passing</h5>
                <p class="player-attr">{{shortpassing}}</p>
                <h5>Long Passing</h5>
                <p class="player-attr">{{longpassing}}</p>
                <h5>Curve</h5>
                <p class="player-attr">{{curve}}</p>
            </div>
            <div id="dribbling" class="col-sm-2 col-attr">
                <h4>DRIBBLING</h4>
                <div id="chart3"></div>
                <h5>Agility</h5>
                <p class="player-attr">{{agility}}</p>
                <h5>Balance</h5>
                <p class="player-attr">{{balance}}</p>
                <h5>Reactions</h5>
                <p class="player-attr">{{reactions}}</p>
                <h5>Ball Control</h5>
                <p class="player-attr">{{ballcontrol}}</p>
                <h5>Dribbling</h5>
                <p class="player-attr">{{dribbling}}</p>
                <h5>Composure</h5>
                <p class="player-attr">{{composure}}</p>
            </div>
            <div id="defense" class="col-sm-2 col-attr">
                <h4>DEFENSE</h4>
                <div id="chart4"></div>
                <h5>Interceptions</h5>
                <p class="player-attr">{{interceptions}}</p>
                <h5>Heading</h5>
                <p class="player-attr">{{headingaccuracy}}</p>
                <h5>Marking</h5>
                <p class="player-attr">{{marking}}</p>
                <h5>Standing Tackle</h5>
                <p class="player-attr">{{standingtackle}}</p>
                <h5>Sliding Tackle</h5>
                <p class="player-attr">{{slidingtackle}}</p>
            </div>
            <div id="physical" class="col-sm-2 col-attr">
                <h4>PHYSICAL</h4>
                <div id="chart5"></div>
                <h5>Jumping</h5>
                <p class="player-attr">{{jumping}}</p>
                <h5>Stamina</h5>
                <p class="player-attr">{{stamina}}</p>
                <h5>Strength</h5>
                <p class="player-attr">{{strength}}</p>
                <h5>Aggression</h5>
                <p class="player-attr">{{aggression}}</p>
            </div>
        </div>
    </div>
</script>

<script>
    $(document).ready(function() {
        let playerId = $('#player-id').val();
        getJsonByPlayerId(playerId);
    });

    function getJsonByPlayerId(playerId) {
        $.ajax({
            url : "/api/player/" + playerId,
            type : "get",
            dataType : "json",
            beforeSend: function() {
                $('.wrap-loading').removeClass('display-none');
            },
            complete: function() {
                $('.wrap-loading').addClass('display-none');
            },
            success : function(player) {
                let source = $('#player-template').html();
                let template = Handlebars.compile(source);
                let html = template(player);
                $('#player-content').append(html);

                showPlayerQuality();
                showChart();
                showAttrColor();
                showStar();
            },
            error : function () {
                $('#player-content').html("Not found.");
            }
        });
    }

    function showPlayerQuality() {
        let quality = $('#player-quality').val();
        let headShotColor = "#d8cdba";
        switch (quality) {
            case 'gold':
                headShotColor = "#f5e78e";
                break;
            case 'silver':
                headShotColor = "#d3d4d6";
                break;
            case 'bronze':
                headShotColor = "#d4b073";
                break;
            default:
                break;
        }
        $('.player-headshot').css({ "background-color": headShotColor })
    }

    function showChart() {
        let data = [];

        $('#attr').children('.col-attr').each(function (i, divEl) {
            let sum = 0;
            $(divEl).children('.player-attr').each(function (j, pEl) {
                sum = sum + Number($(pEl).text());
            });
            let result = Math.round(sum / $(divEl).children('.player-attr').length);
            data.push(result);
        });

        data.forEach(function (d, i) {
            id = "chart" + i;
            let chart = c3.generate({
                bindto: '#chart' + i,
                data: {
                    columns: [
                        ['data', d]
                    ],
                    type: 'gauge'
                },
                legend: {
                    show: false
                },
                gauge: {
                    label: {
                        format: function (value, ratio) {
                            return value;
                        },
                        show: false
                    }
                },
                color: {
                    pattern: ['#bd2f2f', '#c8790a', '#e8b415', '#99cf46', '#4e8142'],
                    threshold: {
                        values: [50, 70, 80, 90, 100]
                    }
                },
                size: {
                    height: 100
                }
            });
        });
    }

    function showAttrColor() {
        $('.player-attr').each(function(i, obj) {
            calcAttrColor($(obj).text(), obj);
        })
    }

    function calcAttrColor(value, obj) {
        let attrColor = "#bd2f2f";
        if (value >= 90) {
            attrColor = "#4e8142";
        } else if (value >= 80) {
            attrColor = "#99cf46";
        } else if (value >= 70) {
            attrColor = "#e8b415";
        } else if (value >= 60) {
            attrColor = "#c8790a";
        } else if (value < 50) {
            attrColor = "#bd2f2f";
        }
        $(obj).css({ "font-weight": "bold", "color": attrColor });
    }

    function showStar() {
        let playerSkillMoves = $('#player-skillMoves').val();
        for (let i = 0; i < playerSkillMoves; i++) {
            $('#star-skillMoves').append("★");
        }

        let playerWeakFoot = $('#player-weakFoot').val();
        for (let i = 0; i < playerWeakFoot; i++) {
            $('#star-weakFoot').append("★");
        }
    }
</script>
</th:block>

</html>