<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">
    <input type="hidden" id="player-name" th:value="${playerName}" />

    <div id="player-list-content"></div>
</div>

<th:block layout:fragment="script">
<script id="player-list-template" type="text/x-handlebars-template">
    <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <div class="bs-component">
        <div class="list-group">
        {{#each .}}
            <div class="list-group-item" onclick="selectPlayer({{id}})">
                <input type="hidden" id="playerId" value="{{id}}">
                <div class="row-picture">
                    <img class="circle" src="{{headshot.imgUrl}}" alt="headshot">
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">{{firstName}} {{lastName}}</h4>
                    <p class="list-group-item-text">{{composure}}</p>
                </div>
            </div>
            <div class="list-group-separator"></div>
        {{/each}}
        </div>
    </div>
    </div>
    </div>
</script>

<script>
    $(document).ready(function() {
        var playerName = $('#player-name').val();
        getJsonByPlayerName(playerName);
    });

    function getJsonByPlayerName(playerName) {
        $.ajax({
            url : "/json/search/" + playerName,
            type : "get",
            dataType : "json",
            beforeSend: function() {
                $('.wrap-loading').removeClass('display-none');
            },
            complete: function() {
                $('.wrap-loading').addClass('display-none');
            },
            success : function(playerList) {
                var source = $('#player-list-template').html();
                var template = Handlebars.compile(source);
                var html = template(playerList);
                $('#player-list-content').append(html);
            },
            error : function () {
                $('#player-list-content').html("Not found.");
            }
        });
    }

    function selectPlayer(playerId) {
        $(location).attr('href', "/player/" + playerId);
    }
</script>
</th:block>
</html>