<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${player}">player</p>

<h3>player</h3>
<p th:text="${player.firstName}">firstName</p>
<p th:text="${player.lastName}">lastName</p>
<img th:attr="src=${player.headshotImgUrl}" />

<h3>league</h3>
<p th:text="${player.leagueName}">leagueName</p>
<img th:attr="src=${player.leagueImgUrl}" />

<h3>nation</h3>
<p th:text="${player.nationName}">nationName</p>
<img th:attr="src=${player.nationImgUrl}" />

<h3>club</h3>
<img th:attr="src=${player.clubImgUrl}" />

</body>
</html>